{% extends 'base.html.twig' %}

{% block title %}All Micro Posts{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold mb-6 text-gray-800 dark:text-gray-100">
        📝 All Posts
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for post in posts %}
            {# Card container for each post #}
            {{ include('micro_post/_post.html.twig', {post: post}) }}
        {% else %}
            <p class="col-span-full text-center text-lg text-gray-500 dark:text-gray-400 mt-8">
                There are no posts yet.
            </p>
        {% endfor %}
    </div>
{% endblock %}
